body {
  font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: auto;
    margin: auto;
    font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
